<% content_for :title, Rails.configuration.advanced_auth.invite_title %>

<% if current_invite.present? %>
	<p><strong>You have been invited to join the Signage Group: <%= current_invite.group.identifier %></strong></p>
	<% if current_user.present? %>
		<p>
			<%= link_to "Join Group", invite_path(current_invite.id), :method => :post %> - <%= link_to "Reject the Invite", invite_path(current_invite.id), :method => :delete %>
		</p>
		<p>
			<strong>Not <%= current_user.firstname %> of <%= current_user.email %></strong><br />
			<%= link_to "Change Account", invite_path(current_invite.id), :method => :put %>
		</p>
	<% else %>
		<p>
			<%= link_to "Join Group", authentications_path %> - <%= link_to "Reject the Invite", invite_path(current_invite.id), :method => :delete %>
		</p>
	<% end %>
<% else %>
	<p>
		<strong>Sorry this invite is no longer valid. Please request it to be re-issued.</strong><br />
		<%= link_to "Back to signage", root_path %>
	</p>
<% end %>
