<% content_for :head do %>

	<meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
	<!--
		iPad helpers
	 -->
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=1" />
	<link rel="apple-touch-icon" href="/icon.png" />
	
	<!--
		IE9 / Chrome helpers
	 -->
	<meta name="application-name" content="<%= t(:sydney_signage) %>" />
	<meta name="description" content="<%= t(:signage_solution) %>"/>
	
	<meta name="msapplication-tooltip" content="<%= t(:signage_solution) %>" />
	<meta name="msapplication-navbutton-color" content="#B22217" />


<% end %>

<h1>ACA Signage</h1>

<p><strong>Sign in through one of these services:</strong></p>

<div class="auth_providers">
	<a href="/auth/twitter" class="auth_provider">
		<%= image_tag "advanced_auth/twitter_64.png", size: "64x64", alt: "Twitter" %>
		Twitter
	</a>
	<a href="/auth/facebook" class="auth_provider">
		<%= image_tag "advanced_auth/facebook_64.png", size: "64x64", alt: "Facebook" %>
		Facebook
	</a>
	<a href="/auth/open_id?openid_url=https://www.google.com/accounts/o8/id" class="auth_provider">
		<%= image_tag "advanced_auth/google_64.png", size: "64x64", alt: "Google" %>
		Google
	</a>
	<a href="/auth/open_id?openid_url=https://me.yahoo.com" class="auth_provider">
		<%= image_tag "advanced_auth/yahoo_64.png", size: "64x64", alt: "Yahoo" %>
		Yahoo
	</a>
	<a href="/auth/open_id?openid_url=https://openid.aol.com/" class="auth_provider">
		<%= image_tag "advanced_auth/aol_64.png", size: "64x64", alt: "AOL" %>
		AOL
	</a>
	<a href="/auth/open_id" class="auth_provider">
		<%= image_tag "advanced_auth/open_id_64.png", :size => "64x64", :alt => "OpenID" %>
		OpenID
	</a>
</div>
  
<p>
<strong>Don't use these services?</strong>
</p>
<div class="clear"></div>
<%= form_tag "/auth/identity/callback" do %>
	<div class="field">
		<%= label_tag :auth_key, "Email" %><br>
		<%= text_field_tag :auth_key %>
	</div>
	<div class="field">
		<%= label_tag :password %><br>
		<%= password_field_tag :password %>
	</div>
	<div class="clear"></div>
	<div class="actions"><%= submit_tag "Login" %></div>
<% end %>
