<h1>ACA Signage</h1>

<p><strong>Sign in through one of these services:</strong></p>

<div class="auth_providers">
	<a href="/auth/twitter" class="auth_provider">
		<%= image_tag "advanced_auth/twitter_64.png", size: "64x64", alt: "Twitter" %>
		Twitter
	</a>
	<a href="/auth/facebook" class="auth_provider">
		<%= image_tag "advanced_auth/facebook_64.png", size: "64x64", alt: "Facebook" %>
		Facebook
	</a>
	<a href="/auth/open_id?openid_url=https://www.google.com/accounts/o8/id" class="auth_provider">
		<%= image_tag "advanced_auth/google_64.png", size: "64x64", alt: "Google" %>
		Google
	</a>
	<a href="/auth/open_id?openid_url=https://me.yahoo.com" class="auth_provider">
		<%= image_tag "advanced_auth/yahoo_64.png", size: "64x64", alt: "Yahoo" %>
		Yahoo
	</a>
	<a href="/auth/open_id?openid_url=https://openid.aol.com/" class="auth_provider">
		<%= image_tag "advanced_auth/aol_64.png", size: "64x64", alt: "AOL" %>
		AOL
	</a>
	<a href="/auth/open_id" class="auth_provider">
		<%= image_tag "advanced_auth/open_id_64.png", :size => "64x64", :alt => "OpenID" %>
		OpenID
	</a>
</div>
  
<p>
<strong>Don't use these services?</strong>
</p>
<div class="clear"></div>
<%= form_tag "/auth/identity/callback" do %>
	<div class="field">
		<%= label_tag :auth_key, "Email" %><br>
		<%= text_field_tag :auth_key %>
	</div>
	<div class="field">
		<%= label_tag :password %><br>
		<%= password_field_tag :password %>
	</div>
	<div class="clear"></div>
	<div class="actions"><%= submit_tag "Login" %></div>
<% end %>
