<% content_for :head do %>

	<meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
	<!--
		iPad helpers
	 -->
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=1" />
	<link rel="apple-touch-icon" href="/icon.png" />
	
	<!--
		IE9 / Chrome helpers
	 -->
	<meta name="application-name" content="ACA Signage" />
	<meta name="description" content="<%= t(:signage_solution) %>"/>
	
	<meta name="msapplication-tooltip" content="<%= t(:signage_solution) %>" />
	<meta name="msapplication-navbutton-color" content="#B22217" />


<% end %>

<h1>ACA Signage</h1>

<p><strong>Sign in:</strong></p>

<div class="auth_providers">
	<a href="/auth/ldap" class="auth_provider">
		<%= image_tag "advanced_auth/logo.jpg", alt: @org %>
		<%= @org %>
	</a>
</div>
 <div class="clear"></div>
<p>
<strong>Local account?</strong>
</p>
<div class="clear"></div>
<%= form_tag "/auth/identity/callback" do %>
	<div class="field">
		<%= label_tag :auth_key, "Email" %><br>
		<%= text_field_tag :auth_key %>
	</div>
	<div class="field">
		<%= label_tag :password %><br>
		<%= password_field_tag :password %>
	</div>
	<div class="clear"></div>
	<div class="actions"><%= submit_tag "Login" %></div>
<% end %>
