<% content_for :title, "My Account" %>


<%= image_tag "logo.png", alt: "ACA" %>


<% if current_user.present? %>
	<%= link_to "<< Back to Signage", medias_path, :style => "float:right;" %>
	<p><strong>Your current details:</strong></p>
	<% if current_user && current_user.errors.any? %>
		<div class="error_messages">
			<h2><%= pluralize(current_user.errors.count, "error") %> prohibited this from being saved:</h2>
			<ul>
				<% current_user.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<%= form_for(current_user, {:url => authentication_path(current_user.id), :method => :put}) do |f| %>
		<table>
			<tr>
				<td class="desc">Name:</td>
				<td><%= f.text_field :name %></td>
			</tr>
			<tr>
				<td class="desc"><%= f.label :email %>*:</td>
				<td><%= f.text_field :email %></td>
			</tr>
			<tr>
				<td class="desc"><%= f.label :timezone, t(:user_edit_timezone) %>:</td>
				<td><%= f.time_zone_select(:timezone, nil, :default => current_user.timezone) %></td>
			</tr>
		</table>
		<%= f.submit t(:update) %>
	<% end %>

<% end %>


<% if @authentications.present? %>
	<p><strong>You have signed in with these services:</strong></p>
	<div class="authentications">
		<% for authentication in @authentications %>
			<div class="authentication">
				<%= image_tag "advanced_auth/#{authentication.provider}_32.png" %>
				<div class="provider"><%= authentication.provider_name %></div>
				<div class="uid"><%= authentication.uid %></div>
				<%= link_to "X", authentication, :data => {:confirm => 'Are you sure you want to remove this authentication option?'}, :method => :delete, :class => "remove" %>
			</div>
		<% end %>
		<div class="clear"></div>
	</div>
	<p><strong>Add another service to sign in with:</strong></p>
<% else %>
	<p><strong>Sign in through one of these services:</strong></p>
<% end %>

	<a href="/auth/twitter" class="auth_provider">
		<%= image_tag "advanced_auth/twitter_64.png", size: "64x64", alt: "Twitter" %>
		Twitter
	</a>
	<a href="/auth/facebook" class="auth_provider">
		<%= image_tag "advanced_auth/facebook_64.png", size: "64x64", alt: "Facebook" %>
		Facebook
	</a>
	<a href="/auth/open_id?openid_url=https://www.google.com/accounts/o8/id" class="auth_provider">
		<%= image_tag "advanced_auth/google_64.png", size: "64x64", alt: "Google" %>
		Google
	</a>
	<a href="/auth/open_id?openid_url=https://me.yahoo.com" class="auth_provider">
		<%= image_tag "advanced_auth/yahoo_64.png", size: "64x64", alt: "Yahoo" %>
		Yahoo
	</a>
	<a href="/auth/open_id?openid_url=https://openid.aol.com/" class="auth_provider">
		<%= image_tag "advanced_auth/aol_64.png", size: "64x64", alt: "AOL" %>
		AOL
	</a>
	<a href="/auth/open_id" class="auth_provider">
		<%= image_tag "advanced_auth/open_id_64.png", :size => "64x64", :alt => "OpenID" %>
		OpenID
	</a>
<div class="clear"></div>

<p>
	<% if current_user.nil? || !current_user.authentications.where(:provider => 'identity').exists? %>
		<strong>You can also</strong>
		<%= link_to "Create an ACA account", new_identity_path %>
		<strong>or</strong>
	<% end %>
	<%= link_to "Log out", logout_path %>
</p>
