<% content_for :title, "Sign In Options" %>

<% if @authentications.present? %>
	<p><strong>You have signed in with these services:</strong></p>
	<div class="authentications">
		<% for authentication in @authentications %>
			<div class="authentication">
				<%= image_tag "advanced_auth/#{authentication.provider}_32.png" %>
				<div class="provider"><%= authentication.provider_name %></div>
				<div class="uid"><%= authentication.uid %></div>
				<%= link_to "X", authentication, :data => {:confirm => 'Are you sure you want to remove this authentication option?'}, :method => :delete, :class => "remove" %>
			</div>
		<% end %>
		<div class="clear"></div>
	</div>
	<p><strong>Add another service to sign in with:</strong></p>
<% else %>
	<p><strong>Sign in through one of these services:</strong></p>
<% end %>

<a href="/auth/twitter" class="auth_provider">
		<%= image_tag "advanced_auth/twitter_64.png", :size => "64x64", :alt => "Twitter" %>
		Twitter
</a>
<a href="/auth/facebook" class="auth_provider">
		<%= image_tag "advanced_auth/facebook_64.png", :size => "64x64", :alt => "Facebook" %>
		Facebook
</a>
<a href="/auth/google_apps" class="auth_provider">
		<%= image_tag "advanced_auth/google_apps_64.png", :size => "64x64", :alt => "Google" %>
		Google
</a>
<a href="/auth/open_id" class="auth_provider">
		<%= image_tag "advanced_auth/open_id_64.png", :size => "64x64", :alt => "OpenID" %>
		OpenID
</a>
<div class="clear"></div>

<p>
	<strong>You can also</strong>
	<%= link_to "Create an account", new_identity_path %>
	<strong>or</strong>
	<%= link_to "Log out", logout_path %>
</p>
